.patient-container{
    display:flex;
    flex-direction: row;
    width: 100%;
    margin: 20px;
    margin-right: 0px;
}
.patient, .patient-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image-patient{
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    height: 60px;
}

.detail{
    color:rgb(43, 41, 41);
    color: gray;
}

.text-field{
    color: gray;
    color:rgb(43, 41, 41);
}